.header {
  padding: $padding-header-top-bottom $padding-app-left-right;
  background-color: rgb(0, 0, 0);

  h1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    color: beige;
  }
}
