@import "~normalize.css/normalize.css";
@import './variables';
@import './all';

body {
  background-color: $color-background;
}

.app__container {
  max-width: 500px;
  margin: 2.687rem auto;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  overflow: hidden;
}

.main {
  padding: $padding-header-top-bottom $padding-app-left-right;
}
